*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.parent{
    height: 400px;
    width: 310px;
    margin: 50px auto;
    border: 1px solid black;
}
.body{
    background-color: black;
    height: 100%;
    width: 100%;
    border: 1px solid white;
}
.inp {
    padding-top: 15px;
    padding-left: 20px;
}
.inp input{
    height: 45px;
    width: 95%;
    background-color: black;
    border: none;
    color: white;
    font-size: 40px;
    
}
.buttons{
    height: 80%;
    width: 90%;
    
    margin: 10px;
    background-color: black;
}
.buttons button{
    height: 40px;
    width: 64px;
    border: none;
    border-radius: 40%;
    margin-top: 20px;
    margin-left: 4px;
    background-color:#4E4E50;

}
#b2{
    background-color:#9f9fa1;

}
#b1{
    background-color:#a03152;
}